@import "tailwindcss";
@config "../../../tailwind.config.js";

.uk-theme-default {
   --background: 80.0000 33.3333% 96.4706%;
  --foreground: 0 0% 0%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 0%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --primary: 243.3962 75.3555% 58.6275%;
  --primary-foreground: 0 0% 100%;
  --secondary: 173.4146 80.3922% 40%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 94.1176%;
  --muted-foreground: 0 0% 20%;
  --accent: 37.6923 92.1260% 50.1961%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 0%;
  --input: 0 0% 45.0980%;
  --ring: 229.6552 93.5484% 81.7647%;
  --chart-1: 243.3962 75.3555% 58.6275%;
  --chart-2: 173.4146 80.3922% 40%;
  --chart-3: 37.6923 92.1260% 50.1961%;
  --chart-4: 330.3659 81.1881% 60.3922%;
  --chart-5: 142.0859 70.5628% 45.2941%;
  --sidebar: 80.0000 33.3333% 96.4706%;
  --sidebar-foreground: 0 0% 0%;
  --sidebar-primary: 243.3962 75.3555% 58.6275%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 37.6923 92.1260% 50.1961%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 0 0% 0%;
  --sidebar-ring: 229.6552 93.5484% 81.7647%;
  --font-sans: DM Sans, sans-serif;
  --font-serif: DM Sans, sans-serif;
  --font-mono: Space Mono, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
}

.dark.uk-theme-default {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 215.2941 24.6377% 13.5294%;
  --card-foreground: 0 0% 100%;
  --popover: 215.2941 24.6377% 13.5294%;
  --popover-foreground: 0 0% 100%;
  --primary: 234.4538 89.4737% 73.9216%;
  --primary-foreground: 0 0% 0%;
  --secondary: 172.4551 66.0079% 50.3922%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 80%;
  --accent: 45.9429 96.6851% 64.5098%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 90.6040% 70.7843%;
  --destructive-foreground: 0 0% 0%;
  --border: 0 0% 32.9412%;
  --input: 0 0% 100%;
  --ring: 234.4538 89.4737% 73.9216%;
  --chart-1: 234.4538 89.4737% 73.9216%;
  --chart-2: 172.4551 66.0079% 50.3922%;
  --chart-3: 45.9429 96.6851% 64.5098%;
  --chart-4: 328.6154 85.5263% 70.1961%;
  --chart-5: 141.8919 69.1589% 58.0392%;
  --sidebar: 0 0% 0%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-primary: 234.4538 89.4737% 73.9216%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 45.9429 96.6851% 64.5098%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 0 0% 100%;
  --sidebar-ring: 234.4538 89.4737% 73.9216%;
  --font-sans: DM Sans, sans-serif;
  --font-serif: DM Sans, sans-serif;
  --font-mono: Space Mono, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
}

.uk-theme-vintage {
  --background: 44.00 42.86% 93.14%;
  --foreground: 28.57 16.54% 24.90%;
  --card: 42.00 100.00% 98.04%;
  --card-foreground: 28.57 16.54% 24.90%;
  --popover: 42.00 100.00% 98.04%;
  --popover-foreground: 28.57 16.54% 24.90%;
  --primary: 30.00 38.00% 48.63%;  /* +4% saturation */
  --primary-foreground: 0 0% 100%;
  --secondary: 40.65 38.00% 82.55%;  /* +3% saturation */
  --secondary-foreground: 28.97 18.71% 30.39%;
  --muted: 39 34.48% 88.63%;
  --muted-foreground: 32.31 20.00% 41.37%;  /* +2% saturation */
  --accent: 42.86 36.00% 74.90%;  /* +3% saturation */
  --accent-foreground: 28.57 16.54% 24.90%;
  --destructive: 9.84 58.00% 45.88%;  /* +3% saturation */
  --destructive-foreground: 0 0% 100%;
  --border: 40.00 34.00% 79.41%;  /* +3% saturation */
  --input: 40.00 34.00% 79.41%;
  --ring: 30.00 38.00% 48.63%;
  --chart-1: 30.00 38.00% 48.63%;
  --chart-2: 31.38 33.00% 42.55%;  /* +3% saturation */
  --chart-3: 33.68 36.00% 33.92%;  /* +3% saturation */
  --chart-4: 29.12 34.00% 56.86%;  /* +3% saturation */
  --chart-5: 30 37.00% 62.75%;  /* +3% saturation */
  --sidebar: 39 34.48% 88.63%;
  --sidebar-foreground: 28.57 16.54% 24.90%;
  --sidebar-primary: 30.00 38.00% 48.63%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 42.86 36.00% 74.90%;
  --sidebar-accent-foreground: 28.57 16.54% 24.90%;
  --sidebar-border: 40.00 34.00% 79.41%;
  --sidebar-ring: 30.00 38.00% 48.63%;
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
}

.dark.uk-theme-vintage {
  --background: 25.00 15.38% 15.29%;
  --foreground: 39 34.48% 88.63%;
  --card: 25.71 13.73% 20%;
  --card-foreground: 39 34.48% 88.63%;
  --popover: 25.71 13.73% 20%;
  --popover-foreground: 39 34.48% 88.63%;
  --primary: 30 37.00% 62.75%;  /* +3% saturation */
  --primary-foreground: 25.00 15.38% 15.29%;
  --secondary: 24.71 15.00% 25.69%;  /* +2% saturation */
  --secondary-foreground: 39 34.48% 88.63%;
  --muted: 25.71 13.73% 20%;
  --muted-foreground: 38.40 20.00% 72.35%;  /* +2% saturation */
  --accent: 24.44 20.00% 29.61%;  /* +2% saturation */
  --accent-foreground: 39 34.48% 88.63%;
  --destructive: 9.84 58.00% 45.88%;  /* +3% saturation */
  --destructive-foreground: 0 0% 100%;
  --border: 24.71 15.00% 25.69%;
  --input: 24.71 15.00% 25.69%;
  --ring: 30 37.00% 62.75%;
  --chart-1: 30 37.00% 62.75%;
  --chart-2: 29.12 34.00% 56.86%;  /* +3% saturation */
  --chart-3: 30.00 37.00% 48.63%;  /* +3% saturation */
  --chart-4: 31.38 33.00% 42.55%;  /* +3% saturation */
  --chart-5: 33.68 36.00% 33.92%;  /* +3% saturation */
  --sidebar: 25.00 15.38% 15.29%;
  --sidebar-foreground: 39 34.48% 88.63%;
  --sidebar-primary: 30 37.00% 62.75%;
  --sidebar-primary-foreground: 25.00 15.38% 15.29%;
  --sidebar-accent: 24.44 20.00% 29.61%;
  --sidebar-accent-foreground: 39 34.48% 88.63%;
  --sidebar-border: 24.71 15.00% 25.69%;
  --sidebar-ring: 30 37.00% 62.75%;
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
}

.uk-theme-slate {
  --background: 0 0% 97.6471%;
  --foreground: 0 0% 22.7451%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 22.7451%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 22.7451%;
  --primary: 0 0% 37.6471%;
  --primary-foreground: 0 0% 94.1176%;
  --secondary: 0 0% 87.0588%;
  --secondary-foreground: 0 0% 22.7451%;
  --muted: 0 0% 89.0196%;
  --muted-foreground: 0 0% 31.3725%;
  --accent: 47.4419 64.1791% 86.8627%;
  --accent-foreground: 14.2105 25.6757% 29.0196%;
  --destructive: 0 41.4894% 63.1373%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0.8696% 45.0980%;
  --input: 0 0% 100%;
  --ring: 0 0% 62.7451%;
  --chart-1: 0 0% 20%;
  --chart-2: 0 0% 33.3333%;
  --chart-3: 0 0% 46.6667%;
  --chart-4: 0 0% 60%;
  --chart-5: 0 0% 73.3333%;
  --sidebar: 0 0% 94.1176%;
  --sidebar-foreground: 0 0% 22.7451%;
  --sidebar-primary: 0 0% 37.6471%;
  --sidebar-primary-foreground: 0 0% 94.1176%;
  --sidebar-accent: 47.4419 64.1791% 86.8627%;
  --sidebar-accent-foreground: 14.2105 25.6757% 29.0196%;
  --sidebar-border: 0 0% 75.2941%;
  --sidebar-ring: 0 0% 62.7451%;
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0.5px;
  --spacing: 0.25rem;
}

.dark.uk-theme-slate {
  --background: 0 0% 16.8627%;
  --foreground: 0 0% 86.2745%;
  --card: 0 0% 20%;
  --card-foreground: 0 0% 86.2745%;
  --popover: 0 0% 20%;
  --popover-foreground: 0 0% 86.2745%;
  --primary: 0 0% 69.0196%;
  --primary-foreground: 0 0% 16.8627%;
  --secondary: 0 0% 35.2941%;
  --secondary-foreground: 0 0% 75.2941%;
  --muted: 0 0% 27.0588%;
  --muted-foreground: 0 0% 62.7451%;
  --accent: 0 0% 87.8431%;
  --accent-foreground: 0 0% 20%;
  --destructive: 0 35.5932% 76.8627%;
  --destructive-foreground: 0 0% 16.8627%;
  --border: 0 0% 30.9804%;
  --input: 0 0% 20%;
  --ring: 0 0% 75.2941%;
  --chart-1: 0 0% 93.7255%;
  --chart-2: 0 0% 81.5686%;
  --chart-3: 0 0% 69.0196%;
  --chart-4: 0 0% 56.4706%;
  --chart-5: 0 0% 43.9216%;
  --sidebar: 0 0% 12.9412%;
  --sidebar-foreground: 0 0% 86.2745%;
  --sidebar-primary: 0 0% 69.0196%;
  --sidebar-primary-foreground: 0 0% 12.9412%;
  --sidebar-accent: 0 0% 87.8431%;
  --sidebar-accent-foreground: 0 0% 20%;
  --sidebar-border: 0 0% 30.9804%;
  --sidebar-ring: 0 0% 75.2941%;
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}

.uk-theme-starry {
  --background: 216 33.3333% 97.0588%;
  --foreground: 224 36.5854% 16.0784%;
  --card: 212 36.5854% 91.9608%;
  --card-foreground: 224 36.5854% 16.0784%;
  --popover: 50.4000 100.0000% 95.0980%;
  --popover-foreground: 224 36.5854% 16.0784%;
  --primary: 220.5882 46.7890% 42.7451%;
  --primary-foreground: 50.4000 100.0000% 95.0980%;
  --secondary: 38.6364 89.1892% 70.9804%;
  --secondary-foreground: 224 36.5854% 16.0784%;
  --muted: 60 10.3448% 88.6275%;
  --muted-foreground: 220.5882 46.7890% 42.7451%;
  --accent: 201.6867 40.0966% 59.4118%;
  --accent-foreground: 50.4000 100.0000% 95.0980%;
  --destructive: 292.9412 22.0779% 15.0980%;
  --destructive-foreground: 50.4000 100.0000% 95.0980%;
  --border: 211.7647 12.0567% 72.3529%;
  --input: 201.6867 40.0966% 59.4118%;
  --ring: 38.6364 89.1892% 70.9804%;
  --chart-1: 220.5882 46.7890% 42.7451%;
  --chart-2: 38.6364 89.1892% 70.9804%;
  --chart-3: 201.6867 40.0966% 59.4118%;
  --chart-4: 211.7647 12.0567% 72.3529%;
  --chart-5: 292.9412 22.0779% 15.0980%;
  --sidebar: 212 36.5854% 91.9608%;
  --sidebar-foreground: 224 36.5854% 16.0784%;
  --sidebar-primary: 220.5882 46.7890% 42.7451%;
  --sidebar-primary-foreground: 50.4000 100.0000% 95.0980%;
  --sidebar-accent: 38.6364 89.1892% 70.9804%;
  --sidebar-accent-foreground: 224 36.5854% 16.0784%;
  --sidebar-border: 211.7647 12.0567% 72.3529%;
  --sidebar-ring: 38.6364 89.1892% 70.9804%;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.uk-theme-starry.dark {
  --background: 230 20.0000% 11.7647%;
  --foreground: 221.5385 35.1351% 92.7451%;
  --card: 237.3913 24.7312% 18.2353%;
  --card-foreground: 221.5385 35.1351% 92.7451%;
  --popover: 237.3913 24.7312% 18.2353%;
  --popover-foreground: 47.8431 100.0000% 70%;
  --primary: 220.5882 46.7890% 42.7451%;
  --primary-foreground: 47.8431 100.0000% 70%;
  --secondary: 47.8431 100.0000% 70%;
  --secondary-foreground: 237.3913 24.7312% 18.2353%;
  --muted: 237.3913 24.7312% 18.2353%;
  --muted-foreground: 218.4615 17.1806% 55.4902%;
  --accent: 220.3846 63.4146% 83.9216%;
  --accent-foreground: 230 20.0000% 11.7647%;
  --destructive: 336.2791 36.7521% 45.8824%;
  --destructive-foreground: 47.8431 100.0000% 70%;
  --border: 236.4706 15.8879% 20.9804%;
  --input: 220.5882 46.7890% 42.7451%;
  --ring: 47.8431 100.0000% 70%;
  --chart-1: 220.5882 46.7890% 42.7451%;
  --chart-2: 47.8431 100.0000% 70%;
  --chart-3: 201.6867 40.0966% 59.4118%;
  --chart-4: 218.4615 17.1806% 55.4902%;
  --chart-5: 336.2791 36.7521% 45.8824%;
  --sidebar: 237.3913 24.7312% 18.2353%;
  --sidebar-foreground: 221.5385 35.1351% 92.7451%;
  --sidebar-primary: 220.5882 46.7890% 42.7451%;
  --sidebar-primary-foreground: 47.8431 100.0000% 70%;
  --sidebar-accent: 47.8431 100.0000% 70%;
  --sidebar-accent-foreground: 237.3913 24.7312% 18.2353%;
  --sidebar-border: 236.4706 15.8879% 20.9804%;
  --sidebar-ring: 47.8431 100.0000% 70%;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

:root {
  --neo-shadow-offset: 1px;
  --neo-border-width: 1px;
  --neo-thick-border-width: 3px;
  --neo-radius: 4px;
  --neo-shadow-color: color-mix(in srgb, #000000 80%, transparent);
  --neo-border-color: hsl(var(--border));
  --neo-background: hsl(var(--background));
  --grid-color: rgba(128, 128, 128, 0.1);
  --grid-size: 32px;
  --muted-border-color: hsl(var(--muted));
  --font-sans: DM Sans,serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Space Mono, monospace;
}

.dark{
    --neo-shadow-color: hsl(var(--border));
    --grid-color: rgba(255, 255, 255, 0.1);
  }

body {
  font-family: var(--font-sans), var(--font-serif), serif;
}

/* Neo-brutalism Theme */
.neo-brutalism {
  /* Buttons */
  .uk-btn:not(.uk-btn-link):not(.uk-btn-ghost) {
    border: var(--neo-border-width) solid var(--neo-border-color);
    box-shadow: var(--neo-shadow-offset) var(--neo-shadow-offset) 0 var(--neo-shadow-color);
    transition: all 0.2s ease;
    position: relative;
    &:hover {
      transform: translate(var(--neo-shadow-offset), var(--neo-shadow-offset));
      box-shadow: 0 0 0 var(--neo-shadow-color);
    }
    &.selected {box-shadow: 0 0 0 var(--neo-shadow-color);border-width: var(--neo-border-width);}
  }
  .uk-btn-icon {border-radius: 100px; border: none !important; box-shadow: none !important}

  /* Form inputs */
  .uk-input,.uk-select, .uk-textarea {
    border: var(--neo-border-width) solid var(--neo-border-color);
    background: var(--neo-background);
    -webkit-appearance: none;
    &:focus {border-bottom-width: var(--neo-thick-border-width);}
  }

  /* Headers */
  h1, h2{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: var(--neo-border-width) dotted var(--neo-border-color);
    box-shadow: var(--neo-shadow-offset) var(--neo-shadow-offset) 0 var(--neo-shadow-color);
    background: var(--neo-background);
    font-style: italic;
    font-weight: 300;
  }
  /* Links */
  .uk-link,a {text-decoration: none;transition: all 0.2s ease;}
}

#auto-mode-btn,#dark-mode-btn,#light-mode-btn{display: none;}
.auto #auto-mode-btn {display: block !important;}
.dark:not(.auto) #dark-mode-btn {display: block !important;}
.light:not(.auto) #light-mode-btn {display: block !important;}

#sm-font-btn,#lg-font-btn,#xl-font-btn {display: none;}
.uk-font-sm #sm-font-btn {display: block !important;}
.uk-font-base #lg-font-btn {display: block !important;}
.uk-font-lg #xl-font-btn {display: block !important;}

.text-danger {color: hsl(var(--destructive));}
.muted-border {border-color: var(--muted-border-color) !important;}
@keyframes blink {50% { border-color: transparent; }}
.blink {animation: blink 1.5s step-end infinite;}
@keyframes slide-up {from {opacity:0;transform: translateY(100%);} to {opacity:1;transform: translateY(0);}}
.slide-up {animation: slide-up 0.3s ease-in-out;}
.figma-board {
  position: relative;
  min-height: calc(100vh - 300px);
  background-image: radial-gradient(circle, var(--grid-color) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  background-position: 0px 0px;
}
.figma-board::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle, var(--grid-color) 1px, transparent 1px);
  background-size: calc(var(--grid-size) / 4) calc(var(--grid-size) / 4);
  pointer-events: none;
}
.active .line{
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.uk-font-lg {
    --uk-global-font-size: 1.2rem;
    --uk-global-line-height: 1.5rem;
    --uk-global-font-size-s: 1rem;
    --uk-global-line-height-s: 1.2rem
}

.htmx-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--muted-border-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 10;
}

.htmx-request .htmx-indicator {
    opacity: 1;
}
